<link rel="stylesheet" href="/css/buses/editar.css">
{{#each lista}}
<form action="/persona/editar/{{id_persona}}" method="post">

    <body>


        <div id="container">
            <h2>Actualización de Persona</h2>

            <label id="nombre" for="placa">Nombres</label> <br>
            <input type="text" id="nombres" name="nombres" value="{{nombres}}" required>

            <label id="apellido" for="placa">Apellidos</label> <br>
            <input type="text" id="apellidos" name="apellidos" value="{{apellidos}}" required>

            <label id="fecha_nacimientos" for="placa">Fecha de Nacimiento</label> <br>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="{{fecha_nacimiento}}" required>

            <label id="sex" for="placa">Sexo</label> <br>
            <input type="text" id="sex" name="sex" value="{{sex}}" required>

            <label id="direcciones" for="placa">Direccion</label> <br>
            <input type="text" id="direccion" name="direccion" value="{{direccion}}" required>

            <label id="correo_persona" for="correo_persona">Correo Electronico</label> <br>
            <input type="text" id="correo_persona" name="correo_persona" value="{{correo_persona}}" required>

            <br> <br><br>
            <br> <br>

            <div id="boton">
                <button type="submit">Actualizar</button>
            </div>
            <div class="cancelar">
                <button type="submit">Cancelar</button>
            </div>
        </div>
        </div>
        </div>
</form>
{{/each}}

</body>